.wrapper{
    padding: 20px;
}
.description{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0px;
}

.header{
    display: grid;
    grid-template-columns: 35px repeat(4, 1fr) 35px;
    gap: 5px;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 5px;
    padding: 10px;
    border-bottom: 1px solid var(--secondary-color);
}
.header * {
    padding: 3px 5px;
}
.add{
    font-size: medium;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
    transition: 100ms ease-in;
}
.add:hover{
    background-color: var(--alt-color);
}

.add:active{
    transform: translateY(1px);
}

@media only screen and (max-width: 750px) {
    .header {
        display: none;
    }
}