.Step{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    width: 100%;
    padding: 0px 10px;
    text-align:center;
    position:relative;
}
.Step:hover .nonselected{
    background-color:rgb(205, 223, 255);
}

.Step .selected,.Step .nonselected {
    width: 100%;
    top: 50px;
    position: absolute;
    transition: 100ms ease-in;
}
.Step .selected{
    border-bottom: 2px solid var(--alt-color);
}
.Step .nonselected {
    border-bottom: 2px solid transparent;
}

.disabled {
    color: gray;
}
.disabled:hover .nonselected{
    background-color: white;
}