:root {
  --ncategories: 100;
  --main-color: #006972;
  --secondary-color: #a9e0cb;
  --alt-color: #79ced1;
}

.hidden {
  display: none;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
}

.error * {
  color: red;
  border-color: red;
  border-radius: 2px;
}

input.error {
  color: red;
  border: 1px solid red;
}